@font-face{
	font-family: "Benegraphic";
	src:url(../font/Benegraphic.ttf);
}
@font-face{
	font-family: "Black boys on mopeds";
	src:url(../font/Black boys on mopeds.ttf);
}
@font-face {
font-family:"BambergSerial-Light";
src:url(../font/BambergSerial-Light.ttf);
}
@font-face{
    font-family:"METROLOX";
        src:url(../font/METROLOX.ttf);
}
@font-face{
    font-family:"PEGASUS";
        src:url(../font/PEGASUS.ttf);
}
@font-face{
    font-family:"Satyr";
        src:url(../font/SATYP.TTF);
}
@font-face{
    font-family:"Apple Garamond";
        src:url(../font/AppleGaramond.ttf);
}
@font-face{
    font-family:"Bombadier";
        src:url(../font/BOMBARD_.ttf);
}
@font-face{
    font-family:"MyriadPro-BoldCondIt";
        src:url(../font/MyriadPro-BoldCondIt.otf);
}
@font-face{
    font-family:"BernhardElegant-Regular";
    src:url(../font/BernhardElegant-Regular.ttf);
}
@font-face{
    font-family:"Cajun Boogie";
    src:url(../font/Cajun Boogie.ttf);
}
@font-face{
    font-family:"Thor";
    src:url(../font/Thor.ttf);
}